<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home page</title>
</head>
<body>
<section>
	<div class="card mt-2 ml-3 mr-3">
	<div class="card-body">
	<h1 class="text-center">Welcome to our Grievance Portal!</h1>
	<p>
	 We understand that everyone needs a platform to express their grievances and share their feedback on various products and services. Our platform is designed to provide a safe and secure space for you to voice your complaints and concerns.

Our team is dedicated to ensuring that your feedback is heard and taken seriously. We believe in the power of constructive criticism and use it to improve the products and services that you rely on every day.

We are committed to maintaining transparency and impartiality in our operations. We do not have any affiliations or partnerships with any product or service providers, and we do not take any sides in resolving complaints. Our goal is to provide an unbiased platform for both consumers and service providers to communicate and reach a resolution.

At our Complain Portal, we value your privacy and security. Your personal information is kept confidential and is only shared with relevant parties to resolve your complaint. We follow strict protocols to ensure that your data is protected and secure.

We appreciate your trust in our platform and welcome any feedback or suggestions you may have. Thank you for choosing our Complain Portal as your platform for complaint resolution
	</p>
	</div>
	
	</div>
	<div class="card mt-2 ml-3 mb-2 mr-3">
	<div class="card-body">
	<h1 class="text-center">The resolution process for a complaint portal typically involves the following steps:</h1>
	<p>
<strong>Acknowledgment of Complaint:</strong> When a complaint is submitted through a complaint portal, the complainant should receive an acknowledgement that their complaint has been received and is being reviewed.<br>

<strong> Investigation:</strong> The complaint will then be investigated to determine its validity and the appropriate actions to be taken.<br>

<strong>Resolution:</strong> Once the investigation is completed, the complaint will be resolved through appropriate actions such as providing a solution, compensation, or apology.<br>

<strong>Communication:</strong> The complainant should be informed of the resolution process and the outcome of their complaint in a timely manner.<br>

<strong>Follow-up:</strong> A follow-up may be necessary to ensure that the complainant is satisfied with the resolution of their complaint and to address any further concerns they may have.<br>

<strong>Escalation:</strong> If the complaint cannot be resolved at the initial level, it may need to be escalated to a higher authority or management for further review and resolution.<br>

<strong>Feedback:</strong> The feedback received from the complainant can be used to improve the complaint resolution process and to prevent similar complaints from occurring in the future.<br>

It's important to note that the complaint resolution process may vary depending on the specific complaint portal and organization involved.

	</p>
	<div class="container text-center">
	<a th:href="@{/signup}"class="btn btn-warning">Lets Get Started</a>
	</div>
	</div>
	
	</div>
	</section>
</body>
</html>